/*RESETE*/
*{
	margin:0; 
	padding:0;
}
body{
	background:#ccc;
}
.alinleft{
	float:left;
	margin-right:8px;
	padding:2px;
	border:1px solid #333;
	background:#f4f4f4;
}
.alinright{
	float:right;
	margin-left:8px;
	padding:2px;
	border:1px solid #333;
	background:#f4f4f4;
}
.info{
	margin:0 0 10px;
	padding:0;
	float:left;
	width:650px;
	font:12px Georgia, "Times New Roman", Times, serif;
	color:#999;
}
/*BOX*/
#box{
	width:900px; 
	margin:0 auto;
}

/*HEADER*/
#header{
	height:105px;
	background:url(images/header.jpg) center no-repeat;	
}
#header_logo{
	float:left;
	margin:3px 0 0 20px;
}
#header_logo_nu{
	float:left;
	margin:3px 0 0 20px;
}
#header_contatos{
	float:right;
	margin:25px 10px 0 0;
	font:14px Verdana, Geneva, sans-serif; color:#333;
	font-weight:bold;
	text-align:right;
}
#header_contatos h1{
	font-size:14px;
}
/*MENU*/
#menu{
	height:35px;
	background:url(images/bg_menu.jpg)center no-repeat;
	
}
#menu ul{
	margin:0;
	padding:0;
	float:left;
	list-style:none;
}
#menu ul li {
	display:inline;
}
#menu ul li a{
	text-decoration:none;
	color:#FFF;
	font:18px Arial, Helvetica, sans-serif;
	float:left;
	padding:5px 8px 6px;
	text-shadow:1px 1px 5px #333;
}
#menu ul li a:hover{
	background:url(images/bg_menu.jpg) bottom repeat-x;
}
#menu_search{
	float:right;
}
#menu_search form{
	margin:3px 10px 0 0;
}
#menu_search input{
	padding:3px;
	width:210px;
	color:#FFF;
	font:16px Tahoma, Geneva, sans-serif;
	font-weight:bold;
	background:#ccc;
	border:1px solid #fff;
}
#menu_search .search_btn{
	width:80px;
	font:16px Georgia, "Times New Roman", Times, serif;
	color:#FFF;
	background:#ccc;
	border:1px solid #fff;
}
/*CONTENT - DIV MÃE*/
#content{
	width:900px;
	background:#fff;
	float:left;
}

/*NOTICIAS BLOCO 1*/
#noticias{
	width:900px;
}
#destaque{
	width:500px;
	float:left;
	background:#EBEBEB;
	margin:10px;
	padding:5px;
	overflow:hidden;
}
.pager{
	width:500px;
	text-align:right;
	float:left;
}
.pager a{
	padding:5px;
	text-decoration:none;
	color:#06C;
	background:#fff;
	margin:0 1px;
}
#noticias_destaque{
	width:500px;
	height:370px;

	
}
#noticias_destaque p{
	font:14px Verdana, Geneva, sans-serif;
	margin:5px 5px 5px 0;
	padding:5px;
}
#noticias_destaque a{
	color:#333;
	text-decoration:none;
}
#noticias_destaque a:hover{
	color:#000;
	text-decoration:none;
}

#noticias_lista{
	width:400px;
	float:right;
	padding:0px 5px 5px 0;
}
#noticias_lista a{
	text-decoration:none;
	color:#333;
}
#noticias_lista ul{
	margin:0;
	padding:5px;
	float:left;
	list-style:none;
}
#noticias_lista ul li{
	float:left;
	margin-bottom:5px;
	width:375px;
}
#noticias_lista ul li:hover {
	background:#E1F5FF;
}
#noticias_lista ul li:hover span{
	background:#036;
}
#noticias_lista ul li p{
	font:12px Tahoma, Geneva, sans-serif;
	margin:2px 0;
}
#noticias_lista span{
	padding:6px;
	background:#00C;
	float:left;
	font:50px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
	margin-right:3px;
}
#noticias_lista img {
	float:left;
	margin-right:3px;
	border:0;
}
#noticias_lista h1{
	font:12px Verdana, Geneva, sans-serif;
	color:#00C;
	font-weight:bold;
	text-shadow:1px 1px 1px #999;
}
#noticias_lista h2{
	font:12px Georgia, "Times New Roman", Times, serif;
	color:#333;
}
/*CURSOS BLOCO 2*/
#eventos{
	width:900px;
}
#eventos_lista{
	width:600px;
	margin:0 5px 5px;
	padding:5px;
	float:left;
	background:#EBEBEB;
}
#eventos_lista ul{
	margin:0;
	padding:0;
	float:left;
	list-style:none;
}
#eventos_lista ul li{
	background:#fff;
	float:left;
	padding:3px;
	margin-bottom:5px;
}
#eventos_lista li:hover{
	background:#CCC;
}
#eventos_lista li img{
	float:left;
	margin-right:5px;
	border:0;
}
#eventos_lista li p{
	margin:0 0 10px 0;
	font:14px Tahoma, Geneva, sans-serif;
	color:#333;
}#eventos_lista a{
	text-decoration:none;
	color:#333;
}

#produtos_shopping{
	width:200px;
	height:300px;
	margin:10px;
	padding:5px;
	background:url(images/nu.jpg) no-repeat;
	float:right;
	margin:5px;
}
/*#produtos_shopping{
	width:265px;
	padding:5px;
	background:#00C;
	float:right;
	margin-right:5px;
}
#produtos_shopping a{
	text-decoration:none;
	color:#FFF;
	font:14px Arial, Helvetica, sans-serif;
}
#produtos_shopping h1{
	font:16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	border-bottom:3px solid #FFF;
	padding-bottom:1px;
	margin-bottom:3px;
}
#produtos_shopping ul{
	margin:0;
	padding:0;
	float:left;
	list-style:none;
}
#produtos_shopping ul li{
	float:left;
	padding:5px;
	border-bottom:1px dotted #FFF;
}
#produtos_shopping ul li:hover{
	background:#00C;
}
#produtos_shopping ul li img{
	float:left;
	margin-right:5px;
	border:0;
}
#produtos_shopping ul li span{
	font-weight:bold;
	color:#F00;
}
/*EM INDEX BLOCO 3*/
#alunos{
	width:900px;
}
#alunos_page{
	width:890px;
	float:left;
	margin:5px;
	padding:5px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
}
#alunos_page h1{
	font:20px Tahoma, Geneva, sans-serif;
	color:#00C;
	text-transform:uppercase;
	text-shadow: 1px 1px 5px #333;
}
#alunos_page p{
	margin:20px 0;

}
/*#alunos_ilustra{
	width:200px;
	height:300px;
	padding:5px;
	background:url(images/nu.jpg) no-repeat;
	float:right;
	margin:5px;
}*/
/*RODAPÈ*/
#clear{
	clear:both;
}
#footer{
	height:150px;
	background:#333;
	width:900px;
	margin:0 auto;
}
#footer_empresa{
	width:470px;
	padding:40px 0 0 25px;
	float:left;
	font:18px Tahoma, Geneva, sans-serif;
	color:#FFF;
	text-align:center;
}
#footer_empresa span{
	font:13px Tahoma, Geneva, sans-serif;
	display:block;
}
#footer_login{
	font:16px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:bold;
	padding:25px 0 0 30px;
	width:330px;
	float:left;
}
#footer_login form{
	padding:5px;
}
#footer_login input{
	padding:3px;
	width:160px;
	border:1px solid #FFF;
	background:#333;
	font:16px Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:bold;
}
#footer_login .btn_login{
	height:56px;
	width:70px;
	background:#FFF;
	font:20px Tahoma, Geneva, sans-serif; color:#333;
	cursor:pointer;
	font-weight:bold;
}
#footer_login .btn_login:hover{
	background:#333;
	color:#FFF;
}

/*PAGINAS*/

#page_content{
	background:url(images/page_bg.jpg)repeat-y;
	float:left;
	width:900px;
}
#sidebar{
	width:210px;
	padding:10px;
	float:left;
	font:14px Georgia, "Times New Roman", Times, serif;
	color:#FFF;
}
#sidebar h1{
	font:20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #CCC;
	border-bottom:3px solid #FFF;
	margin-bottom:5px;
	padding-bottom:1px;
}
#page{
	width:650px;
	margin:5px;
	padding:5px;
	float:right;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
}

#page h1{
	font:20px Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
	text-shadow:1px 1px 3px #333;
	color:#069;
	border-bottom:3px solid #069;
	margin-bottom:5px;
	padding-bottom:3px;
}
#page h2{
	font:20px Tahoma, Geneva, sans-serif;
	text-shadow:1px 1px 1px #000;
	color:#333;
}
#page h3{
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}
#page h4{
	font:12px Verdana, Geneva, sans-serif;
}
#page a{
	width:200px;
	text-align:left;

}
#page p{
	margin:10px;
}

#page form{
	width:500px;
	padding:10px;
	background:#f4f4f4;
	display:block;
	margin:10px auto;
}
#page fieldset{
	border:0;
}
#page legend{
	font:20px Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
	text-shadow:1px 1px 3px #333;
	color:#069;
}
#page label{
	margin:10px 0;
	font:16px Georgia, "Times New Roman", Times, serif;
	color:#333;
	font-weight:bold;
	text-shadow:1px 1px 1px #666;
	display:block;
}
#page input{
	padding:3px;
	border:2px solid #069;
	background:#333;
	font:18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	width:494px;
	display:block;
	margin:5px 0;
}
#page textarea{
	padding:3px;
	border:2px solid #069;
	background:#333;
	font:18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	width:494px;
	display:block;
	margin:5px 0;
}
#page .contato_btn{
	width:150px;
	display:block;
	margin:0 auto;
}
#page .contato_btn:hover{
	background:#000;
	border:2px solid #09F;
	cursor:pointer;
}
#sidebar{
	width:300px;
	padding:10px;
	float:left;
	font:14px Georgia, "Times New Roman", Times, serif;
	color:#FFF;
}
#sidebar h1{
	font:20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #CCC;
	border-bottom:3px solid #FFF;
	margin-bottom:5px;
	padding-bottom:1px;
}
#sidebar h2{
	color:#f4f4f4;
	text-shadow:1px 1px 1px #FFF;
	font:16px Tahoma, Geneva, sans-serif;
	font-weight:bold;
}
#sidebar ul{
	list-style:none;
	margin:5px 0;
	float:left;
}
#sidebar ul li a{
	text-decoration:none;
	color:#fff;
	font:18px Georgia, "Times New Roman", Times, serif;
	border-bottom:1px dotted #666;
	float:left;
	width:300px;
}
#sidebar ul li a:hover{
	color:#0CF;
    background:#666
}
#sidebar ol{
	margin:5px;
	float:left;
}
#sidebar ol li{
	float:left;
	margin:0 15px;	
}
#sidebar ol li a{
	text-decoration:none;
	color:#fff;
	font:18px Georgia, "Times New Roman", Times, serif;
	border-bottom:1px dotted #666;
	float:right;
	width:270px;	
}
#sidebar ol li a:hover{
	color:#0CF;
    background:#666;
}




